<form method="post" action="/home/submitimage" enctype="multipart/form-data">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-3 align-content-center">
                <div style="width: 36rem;">
                    <input type="text" placeholder="Image Title" name="Title" class="form-control" />
                    <input type="file" name="image" class="form-control mt-3" />
                    <button class="btn btn-outline-info mt-3">Upload</button>
                </div>
            </div>
        </div>
    </div>
</form>